In [18]:
import pandas as pd
import numpy as np
import psycopg2 as ps

In [19]:
df_ciudad = pd.read_csv('../data/ciudad.csv')
df_eventos = pd.read_csv("../data/eventos.csv", parse_dates=['fecha_inicio', 'fecha_fin'])
df_hoteles = pd.read_csv('../data/hoteles.csv')
df_clientes = pd.read_csv('../data/clientes.csv')
df_reservas = pd.read_csv("../data/reservas.csv", parse_dates=['fecha_reserva', 'inicio_estancia', 'final_estancia'])

In [29]:
df_eventos.duplicated().sum()

np.int64(0)

In [30]:
df_ciudad = df_ciudad.drop_duplicates()
df_hoteles = df_hoteles.drop_duplicates()
df_clientes = df_clientes.drop_duplicates()

In [31]:
df_ciudad.duplicated().sum()

np.int64(0)

In [20]:
conn = ps.connect(
    dbname="proyecto_etl",
    user="my_user",
    password="admin",
    host="localhost",
    port="5432"
)

In [21]:
cur = conn.cursor()

In [22]:
cur.execute("SELECT version();")
print(cur.fetchone())

('PostgreSQL 14.13 (Homebrew) on aarch64-apple-darwin23.4.0, compiled by Apple clang version 15.0.0 (clang-1500.3.9.4), 64-bit',)

In [ ]:
# Convertir DataFrame a lista de tuplas
records = df.to_records(index=False)
records_list = list(records)

In [ ]:

# Insertar m√∫ltiples registros con ejecuta_many()
query = """
    INSERT INTO ventas (fecha, producto, cantidad, precio, total)
    VALUES (%s, %s, %s, %s, %s)
"""
cur.executemany(query, records_list)

# Guardar cambios
conn.commit()

In [8]:
cur.close()
conn.close()